@media only screen and (min-width : 768px) and (max-width :991px) {
    .main__topmix
    {
        height: auto;
    }
    .topmix__content
    {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
    }
    .main__header
    {
        height: auto;
    }
}